<%- include('../partials/head') %>
    </head>

    <body>
        <%- include('../partials/nav') %>

            <h1 class="text-center mt-5 text-4xl">
               Login with your info
            </h1>
            <main>

                <form action="/login" method="POST" class="flex flex-col justify-center items-center">
        <%- include('../partials/errors') %>


                    <input class="border-2 p-2 ml-1 rounded-sm w-xl mt-5" type="email" name="email" placeholder="Enter your email" value="<%= oldInput.email ? oldInput.email : '' %>"  required/>

                    <input class="border-2 p-2 ml-1 rounded-sm w-xl mt-5" type="password" name="password" placeholder="Password" required/>

                    <input class="border-2 p-2 ml-1 rounded-sm w-xl mt-5 bg-red-500 cursor-pointer" type="submit" value="Sign In" />

                   
                </form>
            </main>
    </body>

    </html>