<%- include('../partials/head') %>

</head>
<body>
    <%- include('../partials/nav') %>
    <div class="flex w-full mt-64 items-center justify-center">
        <h1 class="text-2xl">My Bookings</h1>
    </div>
</body>
</html>