<%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/nav') %>

            <h1 class="text-center mt-5 text-4xl">
                Register your home
            </h1>
            <main>

                <form action="/host/add-home" method="POST">
                    <input class="border-2 p-2 ml-1 rounded-sm w-xl mt-5" type="text" name="houseName" placeholder="Enter the name of your house" />
                    <input type="submit" class="bg-red-400 rounded-sm p-2 text-white" />
                </form>
            </main>
    </body>

    </html> 