<%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/nav') %>
            <main>
                <h1 class="text-center mt-5 text-4xl">
                    Here are our registered homes:
                </h1>
                <ul>
                    <% registeredHome.forEach(home=> { %>
                        <li>
                            <%= home.houseName %>
                        </li>
                        <% }) %>
                </ul>
            </main>
    </body>

    </html>